body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-image: url('mint design 3.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #ecfeed;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  text-align: center;
}

.logo {
  width: 80px;
  margin-bottom: 10px;
}

header h1 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: #333;
}

form input, form textarea, form select, form button {
  width: 80%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
}

form button {
  background-color: #57cc99;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #38a169;
}
